<!DOCTYPE html>
<html lang="en">
<head>
    <title>Axis and Allies Battle Calculator</title>
</head>
<body>
<p>Monte Carlo calculator for determining the chances of winning an attack in Axis and Allies. Note: does not
care about the relationship between submarines and planes, but might one day.</p>
</body>

<ul>
    <li>
        <label>Label 1</label>
        <input type="text" />
    </li>
     <li>
        <label>Label 2</label>
        <input type="text" />
    </li>
     <li>
        <label>Label 3</label>
        <input type="text" />
    </li>
     <li>
        <label>Label 4</label>
        <input type="text" />
    </li>
</ul>

</html>